
h1, h2, nav, figure {text-align: center;}
nav {padding: 10px;}
figcaption {font-size: 15px}
#featured_property {
  width: 800px;
  text-align: center;
  margin: auto;
}
#details{
  float: left;
  text-align: center;
  margin: auto;
}
